.vscode
__pycache__
data_latih_kelas_c
data_latih_kelas_e
testing
data_latih.py
data_uji.py
face_recognition_knn.py
trained_knn_model.clf
testing.py
kelas_e_Keamanan Informasi
single
test
secrets.py
single_v2
data_revisi
ekpresi
gaussian_blur
kelas_A_Mata kuliah test2
kelas_B_Mata kuliah test2
code_test